@using RenderJsonToUIClassLibrary.Models
@using RenderJsonToUIClassLibrary.Utils
@{
    var pageUI = PageUIUtil.ListPages[0];
    string layoutContent = pageUI.Layout.LayoutContent;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RenderJsonToUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RenderJsonToUI.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="row">
        <header class="header">
            <div id="topPanel" runat="server" class="ecm-panel"></div>
        </header>
    </div>
    <div class="row">
        <main>
            <div class="page-content">
                <div class="row">
                    <div class="col-md-9">
                        <div id="banner" runat="server" class="ecm-panel"></div>
                    </div>
                    <div class="col-md-3">
                        <div id="content" runat="server" class="ecm-panel"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="row">
        <div id="bottomPanel" class="ecm-panel" runat="server"></div>
    </div>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>