@model string
@{
}
<main>
    <div class="page-content">
        <div class="row">
            <div class="col-md-9">
                <div id="banner" runat="server" class="ecm-panel">@Model</div>
            </div>
            <div class="col-md-3">
                <div id="content" runat="server" class="ecm-panel">@Model</div>
            </div>
        </div>
    </div>
</main>